.newsCard {
    background-color: gray;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50vh;
    border-radius: 1ch;
    padding: 5px;
    overflow-y: scroll;
}

.list {
    align-items: center;
    justify-content: center;

}